root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{css, html, js, sass, scss, ts, vue}]
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

[{**.tf, **.tfvars}]
indent_size = 2
max_line_length = 100

[*.{sh,py,yml}]
indent_size = 2